<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
 <html class="ie ie8 no-js" lang="en-US"> 
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">


<head>
	<!-- Basic need -->
	<title>User Home</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" th:href="@{/css/plugins.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
					<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<img class="logo" th:src="@{/images/logo1.png}" alt="" width="119" height="58">
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<!--<li class="loginLink"><a href="#">LOG In</a></li>-->
						<li class="btn"> <a th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			<!-- top search form -->
			<form th:action="@{/user/search}" id="searchForm" class="top-search">
				<select name="genreId">
					<option value="">All Categories</option>
					<option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.name}" th:selected="${gId} == ${genre.genreId}">
					</option>
				</select>
				<input type="text" name="title" placeholder="Search by movie name" th:value="${ttl}" />
				<button type="submit">Search</button>
			</form>
		</div>
	</header><!-- END | Header -->

	<div class="slider movie-items">
		<div class="container">
			<div class="row">
				<div class="social-link">
					<p>Follow us: </p>
					<a href="#"><i class="ion-social-facebook"></i></a>
					<a href="#"><i class="ion-social-twitter"></i></a>
					<a href="#"><i class="ion-social-googleplus"></i></a>
					<a href="#"><i class="ion-social-youtube"></i></a>
				</div>
				<div class="slick-multiItemSlider">
					<div th:each="movie : ${moviePage.content}" class="movie-item">
						<div class="mv-img">
							<a th:href="@{/user/movie/{id}(id=${movie.movieId})}">
								<img th:src="@{${movie.posterUrl}}" alt="Poster" class="slide-image">
							</a>
						</div>
						<div class="title-in">
							<div class="cate">
								<span th:each="genre : ${movie.genres}" th:classappend="${genre.name == 'Sci-Fi' ? 'blue' : (genre.name == 'Action' ? 'yell' : 'green')}">
                                    <a th:text="${genre.name}"></a>
                                </span>
							</div>
							<h6><a th:href="@{/user/movie/{id}(id=${movie.movieId})}" th:text="${movie.title}"></a></h6>
							<p><i class="ion-android-star"></i><span th:text="${movie.imdb_rating}">7.4</span> /10</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-8 col-sm-12 col-xs-12">

					<div class="flex-wrap-movielist" th:if="${not #lists.isEmpty(movies_genres)}">
						<div class="movie-item-style-2 movie-item-style-1" th:each="movie : ${moviePage.content}">

							<img th:src="@{${movie.posterUrl}}" alt="Poster" class="poster slide-image" />
							<div class="hvr-inner">
								<a th:href="@{/user/movie/{id}(id=${movie.movieId})}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							</div>

							<div class="mv-item-infor">
								<h6 th:text="${movie.title}">Title</h6>
								<p class="rate"><i class="ion-android-star"></i><span th:text="${movie.imdb_rating}">Rating</span> /10</p>
							</div>
						</div>
					</div>
					<div class="flex-wrap-movielist" th:if="${#lists.isEmpty(movies_genres)}">
						<div class="movie-item-style-2 movie-item-style-1" th:each="movie : ${moviePage.content}">

							<img th:src="@{${movie.posterUrl}}" alt="Poster" class="poster slide-image" />
							<div class="hvr-inner">
								<a th:href="@{/user/movie/{id}(id=${movie.movieId})}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							</div>

							<div class="mv-item-infor">
								<h6 th:text="${movie.title}">Title</h6>
								<p class="rate"><i class="ion-android-star"></i><span th:text="${movie.imdb_rating}">Rating</span> /10</p>
							</div>
						</div>
					</div>

					<div class="topbar-filter">
						<div class="pagination2">
							<a th:href="@{/user/home(page=${moviePage.number - 1}, size=${moviePage.size})}" th:if="${moviePage.hasPrevious()}">Previous</a>
							<span>Page <span th:text="${moviePage.number + 1}">1</span> of <span th:text="${moviePage.totalPages}">1</span></span>
							<a th:href="@{/user/home(page=${moviePage.number + 1}, size=${moviePage.size})}" th:if="${moviePage.hasNext()}">Next</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer section-->
	<footer class="ht-footer">
		<div class="container">
			<div class="flex-parent-ft">
				<div class="flex-child-ft item1">
					<a href="index-2.html"><img class="logo" th:src="@{/images/logo1.png}" alt=""></a>
					<p>5th Avenue st, manhattan<br>
						New York, NY 10001</p>
					<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
				</div>
				<div class="flex-child-ft item2">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Blockbuster</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Forums</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item3">
					<h4>Legal</h4>
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item4">
					<h4>Account</h4>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Watchlist</a></li>
						<li><a href="#">Collections</a></li>
						<li><a href="#">User Guide</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item5">
					<h4>Newsletter</h4>
					<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
					<form action="#">
						<input type="text" placeholder="Enter your email...">
					</form>
					<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
				</div>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
			</div>
			<div class="backtotop">
				<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
			</div>
		</div>
	</footer>
	<!-- end of footer section-->

	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/plugins2.js}"></script>
	<script th:src="@{/js/custom.js}"></script>

</body>

<!-- moviegrid07:38-->

</html>